*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li{
  list-style: none;

}
ul li span{
  padding-right: 10px;

}

body{
  background: rgb(17,14,44);
  background: linear-gradient(90deg, rgba(17,14,44,1) 19%, rgba(37,36,65,1) 53%, rgba(48,43,99,1) 100%); 
  color: #2c6780;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}

#location {
	border-radius: unset;
	padding-left: 25px;
  background: #4f4c6f;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  margin-top: 10px;
}

#location::placeholder{
  color: white;
}


#currentWeather{
  background: #4f4c6f;
  color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  margin-top: 10px;
}



#min-max {
	display: flex;
	justify-content: space-around;
	font-size: 20px;
	margin: 10px auto;
	width: 213px;
}

#data-weather{
  display: flex;
  flex-direction: row;
  width: 530px;
}

#data-weather div {
	display: flex;
  margin: 0 9px;
}
#data-weather div li{
  font-size: 18px;
  margin-right: 10px;

}

#data-weather div li:last-child {
	padding-left: 20px;
}